* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

body {
  background: #000;
}

img {
  max-width: 100%;
}

.weapper {
  height: 100vh;
}

/* HEADER */

header {
  text-align: right;
  color: white;
}

.right-header {
  padding: 15px 10px;

  margin-right: 10px;

  background: #4a4a4a;

  border-radius: 4px;
}

/* MAIN */

.container {
  width: calc (100 / 7);
  height: calc(100vh - 120px - 45px);

  overflow: auto;

  display: flex;
  flex-wrap: wrap;

  align-content: center;
  justify-content: center;
}

.user-icon {
  position: relative;
  margin: 5px 10px;
}

.user-name {
  padding: 10px;

  background-color: #4a4a4a;
  color: white;

  position: absolute;

  bottom: 10px;
  left: 0;
}

/* FOOTER */
footer {
  background: #222222;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.flex-icons {
  display: flex;

  font-size: 1.5rem;
  list-style-type: none;
  color: white;
}

.flex-icon {
  display: flex;
  flex-direction: column;

  padding: 20px 10px;

  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
  font-size: 2rem;
  padding-bottom: 10px;
}

#shere {
  color: #4bcb00;
}

.red-text {
  display: flex;
  align-items: center;

  background: #4a4a4a;
  padding: 0 20px;
  font-size: 1.5rem;
  color: red;
}
